@charset "UTF-8";

/* Index */

#titulo-topo {
    margin-left: 13px;
}

/* Verificador de CEP */
#label-cep {
    padding-top: 10px;
}

#form-info {
    padding-top: 10px;
}

#btn-saberCEP {
    margin-top: 19px;
}