@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Index */

#titulo-topo {
    margin-left: 13px;
}

/* Home */
.card {
    margin: 10px;
}

/* Verificador de CEP */
#label-cep {
    padding-top: 10px;
}

#form-info {
    padding-top: 10px;
}

#btn-saberCEP {
    margin-top: 19px;
}

#form-cep {
    border: 2px solid #000;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
}